#include <windows.h>
#include "resource.h"

dCONFIG DIALOG 22, 17, 160, 72
STYLE WS_VISIBLE | WS_SYSMENU | WS_POPUP | WS_CAPTION | DS_MODALFRAME  
CAPTION "A+/-B Configuration"
FONT 8,"Helv"
BEGIN   
	AUTORADIOBUTTON "Bypass", IDC_BYPASS, 15, 15, 40, 8
     AUTORADIOBUTTON "A + B", IDC_PLUS, 60, 15, 40, 8
     AUTORADIOBUTTON "A - B", IDC_MINUS, 105, 15, 40, 8
     GROUPBOX "Operation", IDC_OPGB, 5, 5, 150, 23, WS_GROUP
    
     AUTORADIOBUTTON "A and B", IDC_BOTH, 15, 40, 40, 8
     AUTORADIOBUTTON "A only", IDC_A, 60, 40, 40, 8 
     AUTORADIOBUTTON "B only", IDC_B, 105, 40, 40, 8 
	GROUPBOX "Output Channels", IDC_OUTGB, 5, 30, 150, 23, WS_GROUP
	DEFPUSHBUTTON "Close", IDOK, 50, 56, 60, 14
END
